.Rproj.user
.Rhistory
.RData
.Ruserdata
mega-bioinf-pop-gen.tex
mega-bioinf-pop-gen.pdf
preamble.tex
.DS_Store
_book
_bookdown_files
eca-bioinf-handbook.log
eca-bioinf-handbook.idx
eca-bioinf-handbook.lof
eca-bioinf-handbook.lot
eca-bioinf-handbook.out
eca-bioinf-handbook.toc
cl_rand_seeds
tmp.txt
